@import "fonts.css";

@page {
    margin: 0.79in
}
img {
    height: auto;
    margin: auto;
    margin-top: 0.2in;
    margin-bottom: 0.1in;
    display: block;
}
body {
    font-family: "Open Sans", sans-serif;
}
p {
    margin-bottom: 0.14in;
    color: #00000a;
    line-height: 150%;
    text-align: left;
    font-size: 12pt;
}

/*
 * Generic code blocks
 */
pre {
    margin-left: 0.5in;
    line-height: 150%;
    font-family: Courier New,Courier,monospace;
    font-size: 12pt;
}
pre i {
    font-family: Courier New,Courier,monospace;
}
code {
    font-family: Courier New,Courier,monospace;
    font-size: 110%;
    font-weight: bold;
}
code i {
    font-family: Courier New,Courier,monospace;
    font-weight: normal;
}

