/*
 * Index
 */
/* background: hsl(26, 87%, 56%); /* Ready Set STEM Logo orange */
/* background: hsl(210, 64%, 45%); /* Ready Set STEM Logo blue */
div.autotoc table {
    width: 100%;
    border: 0px;
    border-collapse: separate;
    border-spacing: 8px; /* Space between project/concept link boxes */
}
div.autotoc td, thead th {
    border: 0px;
}
thead {
    background: hsl(210, 64%, 45%); /* Header blue */
    z-index: 999; /* keeps thead above rest of table when stickyheader */
    -webkit-box-shadow: 0px 20px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 20px 10px rgba(0,0,0,0.5);
    margin-bottom: 30px !important;  /* Space below main table header */
}
th:nth-child(2) {
    background: hsl(210, 64%, 82%); /* Header light blue */
    border-radius: 12px;
    width: 100%;
}
div.autotoc table#index_table > tbody,
div.autotoc table#index_table > thead
{
    margin-bottom: 20px; /*Space between sections */
    border-top-left-radius: 0px;
    border-radius: 12px;
    display: table;
}
div.autotoc table#index_table > thead.sticky.stuck {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
div.autotoc table#index_table > tbody:nth-child(odd) {
    background: hsl(26, 87%, 71%); /* Header light orange */
}
div.autotoc table#index_table > tbody:nth-child(even) {
    background: hsl(26, 87%, 51%); /* Header orange */
}
div.autotoc table#index_table > tbody:nth-child(odd) td:last-child {
    background: hsl(26, 87%, 91%); /* Header extra extra light orange */
}
div.autotoc table#index_table > tbody:nth-child(even) td:last-child {
    background: hsl(26, 87%, 81%); /* Header extra light orange */
}
tr.content_row p {
    margin-top: 0.0in;
    margin-bottom: 0.0in;
    font-weight: bold;
    font-size: 20px;
}
.section {
    position: relative;
    padding-left: 100px;
    overflow: hidden;
}
.section p {
    font-size: 22px !important;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

/*
 * First project arrow
 */
div#firstproject {
    position: absolute;
    font-size: 500%;
    line-height: 0px;
    left: -90px;
    top: 15px;
    color: hsl(210, 64%, 45%); /* Header blue */
    z-index: 999;
}
@-webkit-keyframes blink {
    0% {
        opacity:1;
        font-size: 500%;
    }
    50% {
        opacity:0.5;
        font-size: 450%;
    }
    100% {
        opacity:1;
        font-size: 500%;
    }
}
div#firstproject {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
}
/* Hide arrow with orange if it has been visited */
a:visited div#firstproject {
    color: hsl(26, 87%, 51%); /* Header orange */
}

/*
 * Index concept/project link boxes
 */
td.concept, td.project {
    border-radius: 12px;
    padding: 2px 15px 2px 15px;
    width: 100%;
    position: relative; /* Required to make container clickable.  See below. */
}
td.project p {
    text-align: right;
}
td.concept p {
    text-align: left;
}
td.concept:hover, td.project:hover {
    background: gray !important;
}
td.concept a span, td.project a span {
    /*
     * Make entire link container clickable.  Requires container's position: realtive
     * http://stackoverflow.com/questions/796087/make-a-div-into-a-link
     */
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
}
table#index_table a {
    text-decoration:none;
    color: inherit;
}

/*
 * Project/concept header and tool-tip
 */
table#index_header td {
    padding: 0;
}
table#index_header td.spacer {
    width: 100%;
}
table#index_header {
    font-size: 36px;
    font-weight: bold;
    border-collapse: separate;
    border-spacing: 0px;
    padding: 8px;
}
table#index_header td div { /* tootip question mark <div> */
    background: hsl(210, 64%, 45%); /* Header blue */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
}
table#index_header td:nth-child(2) div {
    margin-left: 20px;
}
table#index_header td:nth-last-child(2) div {
    margin-right: 20px;
}
table#index_header td div p { /* tootip question mark <p> */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    line-height: auto;
    text-align: center;
    font-size: 14pt;
}
.tooltip{
    z-index: 999;
}
.tooltip:hover:after{
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: 44px;
    color: #fff;
    content: attr(data-tooltip);
    position: absolute;
    left: -200px;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 15px;
    width: 400px;
    box-shadow: 10px 10px 5px #888888;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 0px 16px 16px 16px;
    top: 30px;
    content: "";
    left: -2px;
    position: absolute;
}


